<div class="header">
    <div class="left">
        <img src="/assets/icon/logo used in header.svg" class="logo-img">
    </div>
    <div class="right">
    <div class="middle">
        <ul class="navbar">
            <li><a class="active" href="#">DASHBOARD</a></li>
            <li><a href="#">CONTENT</a></li>
            <li><a href="#">USERS</a></li>
            <li><a href="#">REPORTS</a></li>
            <li><a href="#">ADMIN</a></li>
            </ul>
        </div>
        <div class="last">
        <ul>
            <app-notification></app-notification>
            <app-announcement></app-announcement>
            <li class="badge-container"><img id="i1" src="/assets/icon/account_circle.svg" alt=""><span class="badge3">T</span></li>
            <app-hamburgermenu></app-hamburgermenu>
        </ul>
    </div>
</div>
</div>